*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background-color:#2e3646;
}

h1{
    text-shadow:  2px 2px 0px  #585858;
    display: inline-block;
    transition: all 200ms ease;
    padding-left: 35px;
}

nav{
    display: inline-block;
    padding-left: 58%;

}

nav a{
    text-shadow:  2px 2px 0px  #585858;
    color: #fff;
    padding: 9px 15px;
    font-size: 1em;
    text-decoration: none;
    display: inline;
    transition: all 500ms ease;
    margin-left:  5px;
}

nav a:hover {
    background: #d82c68;
	border-radius: 13px;
}

img {
    width: 100vw ;
    height: 30vw ;
}

#menu-header {
    background-color:#323232;
    color:#fff;
    font-size: 1.3em;
    line-height: 1.9;
}

#image-block {
    text-align: justify;
    font-size:200%;
    transition: all 150ms ease;
}

.text-on {
    text-shadow:  3px 3px 0px  #323232;
    margin-right:60%;
    position: absolute;
    color: #fff;
    top: 30%;
    left: 4%;
}