@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

/*Ta bien*/

body {
  padding-top: 6rem;
  background: linear-gradient(to top, #141e30, #243b55);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: #323232;
  height: 6em;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.logo,
.title {
  cursor: pointer;
}

.logo {
  width: 6em;
  padding-right: 1%;
}

.text-title {
  color: #26efdd;
  text-shadow: 0px 6px #2e3646;
  font-size: 4em;
  padding-left: 1%;
}

.list {
  padding: 0;
  list-style: none;
}

.link_list {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

.link_list a {
  font-size: 1.5em;
  transition: 0.3s;
  color: #fff;
  text-shadow: 0px 6px #2e3646;
}

.link_list a:hover {
  color: #c60066;
}

.link {
  text-decoration: none;
}

.berry,
.blue_sky {
  border: none;
  height: 5px;
}

.berry {
  background-color: #c60066;
}

.blue_sky {
  background-color: #26efdd;
}

.background {
  width: 100%;
  height: auto;
  background-image: url("../assets/images/back(2).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.text {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 2px 2px rgba(119, 119, 119, 0.667);
  width: 80%;
  margin: 0 auto;
  color: #fff;
  word-wrap: break-word;
}

.text h2 {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 0.2em;
}

.text p {
  margin: 0 auto;
  width: 60%;
  font-size: 1.5em;
  word-break: break-all;
  hyphens: auto;
}

.container_width {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 75%;
  margin: 0 auto;
}

.subtitle {
  font-size: 3.6em;
  text-align: center;
  color: #c60066;
}

footer {
  border-top: 5px solid #26efdd;
  padding: 1em;
  background-color: #323232;
  margin-top: auto;
}

.creators {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0%;
}

.creators li {
  font-size: 1.3em;
  color: #fff;
  border-left: solid 2px #fffa;
  border-right: solid 1px #fffa;
  padding: 0 2em;
  margin-bottom: 0.2em;
}

/* Ordenar cajas */

.flex-container {
  margin-left: 1.5em;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-subcontainer {
  background-color: #fff;
  margin: 1% 1%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 4em 2em;
}

.name-list {
  font-size: 2.5rem;
  color: #2e3646;
  text-align: center;
}

.descrip-list {
  color: #323232;
  font-size: 1.5rem;
  text-align: justify;
}

.end {
  font-size: 2.5rem;
  color: #26efdd;
  text-align: center;
}

.descrip-end {
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
}

.flex-subcontainer-end {
  margin: 1% 1%;
  display: flex;
  font-size: 1.2rem;
  padding: 2em 1em;
}

.PC-image {
  width: 45%;
  margin-left: 20px;
}

/*----------*/

.flex-container2 {
  margin-left: 1.5em;
  margin: 0 auto;
  width: 80%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item,
.flex-item2,
.flex-item3,
.flex-item4 {
  margin-top: 20%;
  margin-right: 10px;
  display: flex;
  font-size: 1.2rem;
  padding: 12vh 12vh;
}

.name-list2 {
  color: #26efdd;
  text-align: center;
  font-size: 2rem;
}

.descrip-list2 {
  color: #fff;
  font-size: 1.5rem;
}

.flex-item,
.flex-item2,
.flex-item3,
.flex-item4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-item {
  background-image: url(../assets/images/Team/Elias.jpg);
}

.flex-item2 {
  background-image: url(../assets/images/Team/Willi.jpeg);
}

.flex-item3 {
  background-image: url(../assets/images/Team/Samuel.jpeg);
}

.flex-item4 {
  background-image: url(../assets/images/Team/Oscar.jpg);
}
