*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}
body { background-image: url("https://image.freepik.com/vector-gratis/fondo-concepto-innovacion-tecnologica-diseno-metalico-abstracto-azul-negro_71775-908.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }
   #navegator { background-image: url("https://wallpapercave.com/wp/wp3194552.png");
   background-repeat: no-repeat;
    background-size: cover;}

   .layer {
    border: 2px solid rgb(24, 23, 23);
    background-color: rgba(92, 93, 99, 0.397);
    width: 70%;}

    #lista {
    display: flex;
    flex-direction: column;
    align-items: center;}

   