*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}
body{
    background: url(https://wallpapercave.com/wp/wp8813919.jpg) #CCC no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.layer {
    border: 2px solid rgb(24, 23, 23);
    background-color: rgba(92, 93, 99, 0.397);
    width: 70%;}

    #lista {
    display: flex;
    flex-direction: column;
    align-items: center;}

.letras {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'sans-serif' cursive;
    font-size: 1.2em;
    letter-spacing: 8px;
}

.segundo {
    word-spacing: 20px;
}

