<!DOCTYPE html>
<HTML>
<head>
  <center><Font size="+5" style color="#415066">
    Components of a computer
</Font>
</center>
</head>
<body bgcolor="#2e3646">
  <center>
  <table border="1">
      <td>
        <ol type="a">
      <li><a href="#Grapichcs card">Grapichcs card</a></li>
      <li>Heatsink</li>
      <li>Mouse</li>
      <li>Webcam</li>
      <li>Monitor</li>
      <li>Motherboard</li>
      <li>Network Card</li>
      <li>Sound Card</li>
      <li>DVD Drive</li>
      <li>Hard disk</li>
      <li>Power Source</li>
      <li>PCI Slot</li>
      <li>Memory RAM</li>
      <li>Data Bus</li>
      <li>USB Port</li>
      <li>CPU</li>
      <li>Computer Case</li>
      <li>Keyboard</li>
    </ol>
    </td>
  </table>
  <hr>
  <h1><Font size="+5" style="" color="#415066"><p id="Grapichcs card">Grapichcs card</p></Font></h1>
    <table border="1">
      <tr>
        <td><h1>function</h1></td>
        <td><h1>image</h1></td>
        <td><h1>types</h1></td>
      </tr>
      <tr>
      <td aling="center">It processes data of CPU, regulates and determines<br>the images and texts in the monitor.</td>
      <td aling="center"><img src="Tarjeta Grafica.png"></td>
      <td aling="center"><a href="https://www.amazon.es/SovelyBoFan-Tarjeta-Gr%C3%A1Fica-Profesional-GTX1050TI/dp/B09266Q263/ref=sr_1_14?dchild=1&keywords=tarjetas+gr%C3%A1ficas&qid=1620858788&sr=8-14">SovelyBoFan Tarjeta GráFica Profesional GTX1050TI 1GB DDR5 Verde <br>128Bit DVI VGA GPU Tarjeta de Video de Juego para Juegos de PC</a><br><br>
      <a href="https://www.amazon.es/GeForce-Tarjeta-gr%C3%A1fica-DisplayPort-TUF-GTX1650-O4GD6-P-GAMING/dp/B08F2KZM8X/ref=sr_1_6?dchild=1&keywords=tarjetas+gr%C3%A1ficas&qid=1620858788&sr=8-6">Tarjeta gráfica ASUS TUF Gaming NVIDIA GeForce GTX 1650 OC Edition PCIe 3.0, 4GB GDDR6, HDMI, <br>DisplayPort, DVI-D, 1 Conector de 6 contactos, Resistencia al Polvo IP5X, Lubricante de Grado Espacial</a></td>
    </tr>
    </table>
    <hr>

</center>
</body>
</HTML>
