<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8"> <!-- Characters -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Samuel Llanes">
        <!-- Insert icons according to device -->
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <title>Components</title>

    <style>
        *{
    font-family: sans-serif, Arial;
    }
    </style>

</head>

<header>
  <table width="100%" bgcolor="#323232">
      <tr>
      <td>
          <h1><font color=#fff size="7%">&nbsp;&nbsp;&nbsp;Info_Computer</font></h1>
      </td>
      <td align="right">
          <nav> <!-- Menu -->
              &nbsp;<a href="#" ><font color=#26efdd size="5px">Start</font></a>&nbsp;
              &nbsp;<a href="PC history/pc history.html"><font color=#fff size="5px">History</font></a>&nbsp;
              &nbsp;<a href="1.html"><font color=#fff size="5px">Components</font></a>&nbsp;
              &nbsp;<a href="English-Tutorial/TutorialsinCSS2.html"><font color=#fff size="5px">Tutorial</font></a>&nbsp;
          </nav></td>
      </tr>
  </table>
</header>

<body bgcolor="#2e3646">
      <hr color="#d82c68">
      <table background="images/background.webp" width="100%" height="290px">
          <tr>
            <td align="center">
              <Font size="+5" color="#fff">
              Components of a computer
              </Font>
            </td>
          </tr>
      </table>
      <hr color="#d82c68">
<center>

  <table border="1" colo="" bgcolor="#26efdd">
    <tr bgcolor="#323232">
      <td>
        <ol type="a">
      <li><a href="#Grapichcs card"><font size="4" color="#ff347b">Grapichcs card</font></a></li>
      <li><a href="#Heatsink"><font size="4" color="#ff347b">Heatsink</font></a></li>
      <li><a href="#Mouse"><font size="4" color="#ff347b">Mouse</font></a></li>
      <li><a href="#Webcam"><font size="4" color="#ff347b">Webcam</font></a></li>
      <li><a href="#Monitor"><font size="4" color="#ff347b">Monitor</font></a></li>
      <li><a href="#Motherboard"><font size="4" color="#ff347b">Motherboard</font></a></li>
      <li><a href="#Network Card"><font size="4" color="#ff347b">Network Card</font></a></li>
      <li><a href="#Sound Card"><font size="4" color="#ff347b">Sound Card</font></a></li>
      <li><a href="#DVD Drive"><font size="4" color="#ff347b">DVD Drive</font></a></li>
      <li><a href="#Hard disk"><font size="4" color="#ff347b">Hard disk</font></a></li>
      <li><a href="#Power Source"><font size="4" color="#ff347b">Power Source</font></a></li>
      <li><a href="#PCI Slot"><font size="4" color="#ff347b">PCI Slot</font></a></li>
      <li><a href="#Memory RAM"><font size="4" color="#ff347b">Memory RAM</font></a></li>
      <li><a href="#Data Bus"><font size="4" color="#ff347b">Data Bus</font></a></li>
      <li><a href="#USB Port"><font size="4" color="#ff347b">USB Port</font></a></li>
      <li><a href="#CPU"><font size="4" color="#ff347b">CPU</font></a></li>
      <li><a href="#Computer Case"><font size="4" color="#ff347b">Computer Case</font></a></li>
      <li><a href="#Keyboard"><font size="4" color="#ff347b">Keyboard</font></a></li>
    </ol>
    </td>
  </tr>
  </table>
  <hr color="#d82c68">
  <h1><Font size="+5" style="" ><p id="Grapichcs card">Grapichcs card</p></Font></h1>
    <table border="1"  bgcolor="#26efdd">
      <tr bgcolor="#323232">
        <td align="center"><h1><font color="#415066">Function</font></h1></td>
        <td align="center"><h1><font color="#415066">Image</font></h1></td>
        <td align="center"><h1><font color="#415066">Types</font></h1></td>
      </tr>
      <tr bgcolor="#323232">
      <td align="center">It processes data of CPU, regulates and <br>determines the images and texts in the monitor.</td>
      <td><img src="https://i2.wp.com/hablamosdegamers.com/wp-content/uploads/2018/11/las-mejores-tarjetas-gr%C3%A1ficas-gaming.png?fit=1024%2C817&ssl=1" width="200" height="200" ></td>
      <td align="center"><a href="https://www.amazon.es/SovelyBoFan-Tarjeta-Gr%C3%A1Fica-Profesional-GTX1050TI/dp/B09266Q263/ref=sr_1_14?dchild=1&keywords=tarjetas+gr%C3%A1ficas&qid=1620858788&sr=8-14"><font color="25d6c8">SovelyBoFan Tarjeta GráFica Profesional<br> GTX1050TI 1GB DDR5 Verde <br>128Bit DVI VGA GPU Tarjeta de Video <br>de Juego para Juegos de PC</font></a></td>
    </tr>
    </table>
    <hr color="#d82c68">
    <h1><Font size="+5"><p id="Heatsink">Heatsink</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">It cooling componen allows that heat <br>energy travel without impair the hardware.</td>
    <td><img src="https://th.bing.com/th/id/R765dea50308d81401b4f7e9e53804e09?rik=aa2W7yCmxc4JHw&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/StarTech-com-60x65mm-Socket-Cooler-Heatsink/dp/B00006B8DB/ref=sr_1_10?adgrpid=1166582260423483&dchild=1&hvadid=72911464548194&hvbmt=be&hvdev=c&hvlocphy=57&hvnetw=o&hvqmt=e&hvtargid=kwd-72911743438727%3Aloc-57&hydadcr=4093_10652297&keywords=heatsink&qid=1620879676&sr=8-10"><font color="25d6c8">StarTech.com 60x65mm Socket A CPU Cooler<br> Fan with Heatsink for AMD Duron or Athlon</font></a></td>
  </tr>
</table>
  <hr color="#d82c68">
  <h1><Font size="+5"><p id="Mouse">Mouse</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Allows we can move the coursor in the monitor<br> to travel in the computer.</td>
    <td><img src="https://todoclick.cl/wp-content/uploads/2020/08/M908-2.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Logitech-910-005793-G203-LIGHTSYNC/dp/B087CT8PWY/ref=sr_1_3?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Mouse&qid=1620879813&sr=8-3"><font color="25d6c8">G203 Lightsync Gaming Mouse - Color Negro</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Webcam">Webcam</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Catch an image or a video of you <br>or anything else.</td>
    <td><img src="https://th.bing.com/th/id/Rf8fd12ebedc15f25aeb45c238bd988a0?rik=6b1u415d882dzg&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Conferencia-Ajustable-Micr%C3%B3fono-Computadora-Compatible/dp/B08GCF782G/ref=sr_1_1_sspa?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Webcam&qid=1620879957&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExWTVUNUw2VTZEU0VOJmVuY3J5cHRlZElkPUEwNDM2MTgxMVMzWFdHV0tDQVlLRSZlbmNyeXB0ZWRBZElkPUEwMDQzNzQ3MUhUVFZaT1pBTzBDRiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU="><font color="25d6c8">(2021 Nuevo modelo) Cheelom <br>Video Cámara Web1080P Trípode Full HD USB,<br>Webcam de Conferencia USB Ajustable con Micrófono<br> Incoprado Computadora Portátil Cámara para OBS <br>Xbox XSplit Skype Facebook Compatible con Mac OS <br>Windows 10/8/7</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Monitor">Monitor</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Give you an image of what are <br>you doing or where you are.</td>
    <td><img src="https://www.pngarts.com/files/2/Monitor-PNG-Download-Image.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/SAMSUNG-Monitor-1920x1080-Flicker-LS24R350FHLXZX/dp/B07Z8PW58J/ref=sr_1_1?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=monitor&qid=1620880088&sr=8-1"><font color="25d6c8">SAMSUNG Monitor Gaming 24" , sin bordes Serie SR35, <br>FHD 1920x1080, 75Hz,<br> Game Mode, Eco Saving Plus, Eye Saver Mode,<br> Flicker Free, 1x HDMI1.4, 1x D-sub, Dark Blue <br>Gray (LS24R350FHLXZX)</font></a></td>
  </tr>
</table  bgcolor="#26efdd">
<hr color="#d82c68">
<h1><Font size="+5"><p id="Motherboard">Motherboard</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Distributes power a lots<br> of components of the computer.</td>
    <td><img src="https://th.bing.com/th/id/R25d9d07a246a973a03e607210014b878?rik=rTyZop1rbjrMxQ&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Gigabyte-B450-AORUS-Motherboard-Micro/dp/B07FWY246F/ref=sr_1_1?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=mother+board&qid=1620880256&sr=8-1"><font color="25d6c8">Gigabyte B450 AORUS M (AMD Ryzen AM4/M.2 <br>Thermal Guard/HDMI/DVI/USB 3.1 Gen 2/DDR4/Micro <br>ATX/Motherboard)</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Network Card">Network Card</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Give you an internet conectivity.</td>
    <td><img src="https://cdn-reichelt.de/bilder/web/xxl_ws/E910/DIGITUS_DN10110_01.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/StarTech-ST1000BT32-Adaptador-Tarjeta-Ethernet/dp/B0000TO0BQ/ref=sr_1_2?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2FEJRCEJEMESS&dchild=1&keywords=network+card&qid=1620880427&sprefix=Network+%2Caps%2C198&sr=8-2"><font color="25d6c8">1 Port PCI 10/100/1000 32 Bit Gigabit Ethernet Network<br> Adapter Card</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Sound Card">Sound Card</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Process data of audio o video.</td>
    <td><img src="https://th.bing.com/th/id/R72af71be31b695d1e8ed5e58024793af?rik=LhrYEVDVcieJnA&riu=http%3a%2f%2fd287ku8w5owj51.cloudfront.net%2fimages%2fproducts%2fhero%2fsound-blaster-audigy-fx%2fpdt-mhl-audigy-fx.png&ehk=D2Y9EyBD09uHzsd6QZvzDjRiXY6WTGkatJXzf9gfKrY%3d&risl=&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Creative-Labs-Blaster-Audigy-canales/dp/B00EO6X4XG/ref=sr_1_1?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=sound+card&qid=1620880517&sr=8-1"><font color="25d6c8">CREATIVE Sound Blaster Audigy FX - Tarjeta de Sonido,<br> 5.1 Channel Surround Sound</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="DVD Drive">DVD Drive</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Read and write data in an optical disk.</td>
    <td><img src="https://th.bing.com/th/id/R8a54c7a1fe343395c05f6d7e34617356?rik=mBnP7GHwH4udQw&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/DRW-24B1ST-Interno-Quemador-DVD-RW-color/dp/B0033Z2BAQ/ref=sr_1_3?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=DVD+driver&qid=1620880572&sr=8-3"><font color="25d6c8">Asus DRW-24B1STA Optical Drive, 24x DVD-RW,<br> Serial-ATA, Black</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Hard disk">Hard disk</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Save data like documents, images, etc.</td>
    <td><img src="https://th.bing.com/th/id/R6adb65fd6c54ebcb4ed64dac4e0014f8?rik=0OTmAK66XwswIA&riu=http%3a%2f%2fpurepng.com%2fpublic%2fuploads%2flarge%2fpurepng.com-hdd-hard-disk-driveelectronics-hard-disk-hard-drive-941524662478iqnno.png&ehk=uQHcsFA9OVknHmlcIn8EfXL81AazsSMjJBEOfJoEUIY%3d&risl=&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Seagate-Disco-Interno-Barracuda-Pulgadas/dp/B07H2RR55Q/ref=sr_1_4?adgrpid=1165482745773690&dchild=1&hvadid=72842745089317&hvbmt=be&hvdev=c&hvlocphy=57&hvnetw=o&hvqmt=e&hvtargid=kwd-72843022675295%3Aloc-57&hydadcr=26973_10203036&keywords=disco+duro&qid=1620880755&sr=8-4"><font color="25d6c8">Seagate BarraCuda - Disco duro interno para<br> computadora de sobremesa<br> (embalaje abrefácil, Disco duro BarraCuda, 2 TB</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Power Source">Power Source</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Filters the energy into an energy who the<br> computer can accupy.</td>
    <td><img src="https://th.bing.com/th/id/R4f874292d174ef103beec767c0365429?rik=bSyKQjVIaELMXQ&riu=http%3a%2f%2fwww.wpclipart.com%2fcomputer%2fhardware%2fpower_supply_T.png&ehk=gEHZABz1UhPh%2fBzUwL93YEVUMmtSZGky114kiZvWBOw%3d&risl=&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/DuraComm-DPS-30-Source-Utilities-Supply/dp/B01CA53CQG/ref=sr_1_4?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Power+source&qid=1620880842&sr=8-4"><font color="25d6c8">DuraComm <br>DPS-30 Power Source Utilities with Low Noise<br> Supply by DuraComm</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="PCI Slot">PCI Slot</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Connect expansion cards.</td>
    <td ><img src="https://th.bing.com/th/id/OIP.6KKsjvX7lW4-Nsq_JrenTAHaFj?pid=ImgDet&rs=1" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/IGOSAIT-Adaptador-PCI-Express-Expansion-Convertidor/dp/B092W6G31Q/ref=sr_1_50?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=pci+slot&qid=1620881001&sr=8-50"><font color="25d6c8">IGOSAIT Tarjeta de Adaptador PCI-Express PCI-Express<br> DOCTOP PCI A Dual Dual PCI Slot Expansion Card USB 3.0 <br>Añadir sobre Tarjetas Convertidor</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Memory RAM">Memory RAM</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Save temporaly stores that you’re working on.</td>
    <td><img src="https://th.bing.com/th/id/R5058170689d6ce1f350a6b8fb6726db6?rik=6IB1eX31sCHf2A&riu=http%3a%2f%2fwww.techspot.com%2fimages2%2fnews%2fbigimage%2f2014%2f11%2f2014-11-14-image-1.png&ehk=g5HcchKB3tEQ1uE5ci0G4pZ72Bif7vOdbpCzN2Ks5aQ%3d&risl=&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Kingston-HyperX-Negro-Adaptador-2400Mhz/dp/B07WCQRQ86/ref=sr_1_1?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Memory+RAM&qid=1620881161&sr=8-1"><font color="25d6c8">Kingston HyperX RAM Fury 4GB 2400Mhz <br>DDR4 CL15 UDIMM Gamer Memoria Para <br>PC Color Negro (HX424C15FB3/4)</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5"><p id="Data Bus">Data Bus</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Give a logical connetions at the components <br>of the computer.</td>
    <td><img src="https://i.stack.imgur.com/lvqfO.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Metra-Interface-Retention-Chevrolet-Silverado/dp/B0049MV2IY/ref=sr_1_5?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=data+bus&qid=1620881218&sr=8-5"><font color="25d6c8">Metra Axxess GM LAN Data Bus Interface <br>with Chime Retention for Select Chevrolet<br> Impala and Silverado Vehicles</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5" ><p id="USB Port">USB Port</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">A port who can conects a lot of USB<br> devices.</td>
    <td><img src="https://th.bing.com/th/id/R72b5aacc936a93310819ae09c3d2370d?rik=yzc%2fmKKBk3Owpg&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Ultraligero-Concentrador-Adaptador-Compatible-HDD%EF%BC%8CTeclado/dp/B08NYBT8XZ/ref=sr_1_7?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=USB+por&qid=1620881297&sr=8-7"><font color="25d6c8">BONKEEY Hub USB 3.0, 4 Puertos USB Extra<br> Delgado Ultraligero, Concentrador de Datos<br> Adaptador USB Compatible con MacBook <br>Air/Pro/Mini, iMac,MacPro,PS4,Xbox,Surface<br> Pro,XPS,PC,Unidades Flash USB,Mobile HDD，<br>Teclado Y Ratón (Gray)</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5" ><p id="CPU">CPU</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Perfom basic arithmetic, logic, <br>controlling input and output operations<br> by operations who apear in the program.</td>
    <td><img src="https://pngimg.com/uploads/cpu/cpu_PNG53.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/AMD-YD2600BBAFBOX-Processor-RYZEN5-Socket/dp/B07B41WS48/ref=sr_1_13?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=CPU&qid=1620881450&sr=8-13"><font color="25d6c8">AMD YD2600BBAFBOX Ryzen 5 2600 - <br>Procesador AM4, 3.4 Ghz, 6 Núcleos de CPU</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5" ><p id="Computer Case">Computer Case</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Save the most of the componets.</td>
    <td><img src="https://th.bing.com/th/id/Re497d188ea5b9687ea1be42f55998cbe?rik=5sFHpFhpfXMnhQ&pid=ImgRaw" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Corsair-Icue-465X-RGB-Mid-Tower/dp/B07W6RCKWF/ref=sr_1_2?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Computer+case&qid=1620881603&sr=8-2"><font color="25d6c8">Corsair Icue 465X RGB Mid-Tower ATX - Funda<br> Inteligente, Color Negro</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
<h1><Font size="+5" ><p id="Keyboard">Keyboard</p></Font></h1>
<table border="1"  bgcolor="#26efdd">
  <tr bgcolor="#323232">
    <td align="center"><h1><font color="#415066">Function</font></h1></td>
    <td align="center"><h1><font color="#415066">Image</font></h1></td>
    <td align="center"><h1><font color="#415066">Types</font></h1></td>
  </tr>
  <tr bgcolor="#323232">
    <td align="center">Allow we can enter caracters in programs or doing<br> shortcuts in programs.</td>
    <td><img src="https://pngimg.com/uploads/keyboard/keyboard_PNG5857.png" width="200" height="200"></td>
    <td align="center"><a href="https://www.amazon.com.mx/Razer-Ornata-Multicolor-Teclado-Gaming/dp/B01LVTI3TO/ref=sr_1_22?__mk_es_MX=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=key+board&qid=1620881680&sr=8-22"><font color="25d6c8">Razer Ornata – Multicolor RGB Teclado<br> Gaming, Croma, RGB</font></a></td>
  </tr>
</table>
<hr color="#d82c68">
</center>
</body>
<footer>
<table bgcolor="#2e3646" width="100%">
  <tr>
      <td align="center">
          <a href="../index.html">
              <img src="../assets/images/Start.png" width="200" lenght="200"></center>
          </a>
      </td>
      <td align="center">
              <font color="#fff" size=4%><b>Mateo / Oscar / Llanes / William &copy; </b></font>
      </td>
  </tr>
</footer>
  </table>
</HTML>
